body {
    width:100%;
    box-sizing: border-box;
    margin:0;
    padding:0;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;   
    top:0;  
    position: fixed;
    background-color:black;
    align-items: center;  
    text-align: center;
   
    
            }
    .contenedor {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width:100%;    
      top:0;  
      position: fixed;
      background-color:black;
      align-items: center;  
     text-align: center;  
    
    }        
    .left {
        display: flex;             
        margin-left:100px;     
        text-align: center;
    }
    .left a {
      text-decoration: none;
    }
    .nombre {
        color:white;
        display:flex;
        justify-self:left;
        /*align-items: center;*/
        margin-left: 0 10px;
        font-size: 34px;
        text-align: center;
    }
    
   .logo-escuela {
        display:flex; 
        justify-content: center; 
        align-items: center;
        margin-left: 2px;    
            }
    .icono {
        display:flex;    
        justify-content: center;
        justify-items: center; 
        margin:10px;   
              }

    .icono img {          
      align-self: center;
      object-fit: contain; 
    
    } 
    
    .escuela{
        color:white;
        display: flex;
        justify-self:left;        
        align-items: center;
        font-weight: 400;
        margin-left: 14px;
        justify-content: center;
        

    }  
    
    header nav ul {
     list-style: none;
     display: flex;
     justify-self: right; 
     cursor: pointer;  
     font-weight: 600; 
     font-size: 17px;
     font-family: Roboto,sans-serif;  
         }

    nav ul li a{
        color: white;
        margin: 18px ;
        list-style: none; 
        text-decoration: none; 
      
    }

    main {
        display:flex;
        justify-content: center;
        align-items: center;
        align-self: center;       
        width:100%;
        height: 800px;
        margin-top: 100px;
    }
    .main-figure{
        margin:0;
        padding:0;
        width:100%;
        height: 100%;
    }

    .main-figure img {
        background-image:url('');
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        width:100%;
        height: 100%;
    }
     .central{
        color:black;
        position:absolute;
        top: 40%;
        left:35%;
        font-size: 80px;
     }
     main .tipos-discri {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        height: 100%;             
        background-color: lightpink;
        margin:0;      
     }
     .title-tipo {
        font-size:88px;
        color: black;
        font-family: Tungsten,sans-serif;
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
        font-weight: 900;
       
     }
     .pages {
        display:flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        list-style: none;
        width:100%;
        height: 80px;
        
     }
     .page li{
        display:flex;
        justify-content: center;
        width:150px;
        height: 80px;
        padding:0;
     }
     .pages li a{
        text-decoration: none;
        padding: 5px 15px;
        color :white;
        background-color: #513cff;
        margin:28px;
        width:150;
        height: 50px;
        font-weight: bolder;
        padding:5  15px;
     }
     .belleza {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-content: center;
        align-items: center;
        align-self: center;
        width: 100%;
        height: auto;
        background-color: white; 
        margin-bottom: 100px;     
       }

     .belleza h2 {
        font-size: 68px;
        margin-top:120px;
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: center;        
        line-height: 100px;
        color: hsl(146deg 88% 3%);
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center; 
             }
     .belleza  h3{
        font-size: 34px;  
        display:flex;   
       
     }
     .belleza h4 {
        font-size: 28px;
        justify-self: center;  
        display:flex; 
        text-align: center;
     }

     .belleza p {
        display:flex;
        font-size: 24px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 300px;
        margin-right: 300px;     
     }
.racismo {
   /*border:1px solid black;*/
   background-color:#f78da7;
   width:50%;
   height: 200px;
   color: white;
}

     footer {      
      background-color: black;     
      display:grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 70px;
      align-items: center; 
      text-align: center;       
      font-family: Roboto,sans-serif;
      position:fixed;
      bottom: 0;
   
     }
     footer ul {       
        list-style: none;
        display: flex;
        justify-self: center;
        margin : 10px;
        padding-left: 0;
        text-align: center;
        
       
                 }
     footer .footer-left {
        display: flex;
        justify-self: left;
        font-weight: 600; 
        font-size: 17px;
        font-family: Roboto,sans-serif;
        justify-content: center;
        align-items: center;             
     }
     footer .footer-right {
        display: flex;
        align-content: center;
        align-items: center;
        font-weight: 400;
        margin-left: 14px;
        justify-content: center; 
           
           
     } 
     footer ul li a {
      list-style: none;
      text-decoration: none;
      color:white;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
          }
     footer ul li a  h1 {
      margin:0;
      padding:0;
     }  


    
   